* {
    box-sizing: border-box;
}

body, html {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

#main-content {
    height: calc(100% - 100px);
}

#sign-in-buttons {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 150ms, margin-top 150ms;
    font-size: 30px;
}

.button:hover {
    margin-top: 2px;
    box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)
}

#google-button span {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #757575;
    margin: 15px;
}

#google-logo {
    padding: 15px;
    height: 100%;
    width: unset;
}


img#logo {
    height: 80px;
    width: unset;
}

#header {
    padding: 10px;
    display: flex;
    align-content: center;
    background: rgba(239, 114, 113, 0.95);
}

#main-content{
    display: flex;
    justify-content: center;
    padding:10px;
}

.note {
    font-weight: 300;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.58);
    font-size: 10px;
}

h1 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(239, 66, 66);
}

a:hover {
    color: rgb(239,66,66);
    text-decoration: underline;
}

a {
    color: dimgrey;
    text-decoration: none;
}

p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: dimgrey;
}